*DS_Store
*.stswp*
*.fls
*.synctex.gz
*.fdb_latexmk
*.aux
*.bbl
*.blg
*.vrb
*.nav
*.toc
*.snm
*_minted-*
**.vscode
**.ipynb_checkpoints*
**__pycache__*
tasks/*/output/*.dta
tasks/*/output/*.csv
tasks/*/output/*.gzip
tasks/*/output/*.parquet
tasks/*/output/*.pkl
tasks/download_data/output
tasks/download_public_data/output
tasks/*/*.zip
**/input/*
**/_*
secrets/*
!secrets/README.md
tasks/common/code/stata_config.py
**.sconsign.dblite
**/+*
**/.SConscript
.project_write.lock
